

.form {
    margin-top: 20px;
    padding: 50px;
    transition: 0.5s;
    border-radius: 20px;
    background-color: #FFF;
    animation: pop 1s;
    box-shadow: 5px 5px 5px 5px #CCC;
    &:hover {
        transition: translateY();
    }
}

@keyframes pop {
    from {
        transform: translateY(100%);
    }
}