<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">

    <mat-form-field class="full-width">
        <input matInput type="email" id="email" placeholder="Email" formControlName="email" />
        <app-form-error [control]="email"></app-form-error>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Nom" formControlName="firstName" />
            <app-form-error [control]="firstName"></app-form-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="lastName" formControlName="lastName" />
            <app-form-error [control]="email"></app-form-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Pseudo" formControlName="pseudo">
            <app-form-error [control]="pseudo"></app-form-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <mat-label>Vous êtes ?</mat-label>
            <mat-select>
                <mat-option value="chopin">Un chopin</mat-option>
                <mat-option value="chopine">Une chopine</mat-option>
                <mat-option value="ewok">Un ewok</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" />
        <app-form-error [control]="email"></app-form-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Comfirmer mot de passe" formControlName="comfirmPassword"/>
        <app-form-error [control]="comfirmPassword"></app-form-error>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="primary" class="full-width">S'inscrire</button>
    
</form>