@import "styles/styles";
@import "styles/frameworks/frameworks";


// base

html, body {
    background: $background;
}

.main-container {
    @extend .container;
    margin-top: 30px;
}

@each $var in 'signin', 'signup' {
 
    .#{var}-form {
        width: 100%;
        height: 100%;
    }

}

.full-width {
    width: 100%;
}